.row
  .col-sm-12.col-md-8
    %h1 Bitte gewünschte Wahl anklicken

.row
  - @elections.each do |e|
    .col-sm-3.election-card
      %a(href="/sessions/create?election=#{e.id}")
        .card
          .flag
            P
          %h2
            = e.name
          %p.election-comment
            = e.comment
