.row
  .col-sm-6
    %h3 Wahlkreis
    %p
      There are
      = @districts.count
      districts here!
      Bitte Wahlkreis wählen
      = select_tag 'districts',
        options_from_collection_for_select(@districts, 'id', 'district_identifier')
