.row
  .col-sm-12
    - if @municipalities.any?
      %h3 Gemeinden
      %table.table
        %thead
          %tr
            %th Name
            %th Gemeinde-ID
        %tbody
        - @municipalities.each do |m|
          %tr
            %td
              = m.name
            %td
              = m.municipality_id
