.searchModule
  margin-right: 2rem

button#searchSubmit
  margin-left: 0.5rem

#searchField
  width: 20rem

.searchHeader
  font-weight: bold
  font-style: normal
  text-transform: uppercase
  color: $bright
  background: $green
  padding-left: 3px

