.table th, .table td
  padding: 0.6rem

.table-hover tbody tr:hover
  background-color: rgba(65, 195, 80, 0.4)

img.logo-img
  border-radius: 4px

body
  font-family: 'PT Sans'
  font-size: 1.1rem

#headerNavbar
  margin-bottom: 2rem

.logo-text
  font-family: 'Arvo'
  margin-left: 4px
  text-transform: uppercase
  font-size: 1.4rem
