$hover: rgba(65,195,80,0.4)
$footerHeight: 32px
$dark: #141414
$switcherBorder: #ccc
$activeSwitcherDark: rgb(52,152,219)
$activeSwitcherBright: rgb(255,255,255)

=animation($duration)
  -webkit-transition-duration:    $duration
  transition-duration:            $duration
  -webkit-transition-property:    all
  transition-property:            all

