$hover: rgba(65,195,80,0.4)
$footerHeight: 32px
$notice: rgba(255,136,28,0.8)
$warning: rgba(255,15,15,0.8)
$success: rgba(77,219,127,0.8)
$flashboxText: #fff
$navlinkColor: rgb(255,255,255)
$infoColor: rgb(87,170,232)

=animation($duration)
  -webkit-transition-duration:    $duration
  transition-duration:            $duration
  -webkit-transition-property:    all
  transition-property:            all
