<nav class='navbar navbar-toggleable-md navbar-inverse bg-inverse' id= 'headerNavbar'>
  <div class='container'>
    <% if user_signed_in? %>
      <a class="navbar-brand" href="/states">
    <% else %>
      <a class="navbar-brand" href="/">
      <% end %>
      <%= image_tag 'logo-gruen.jpg', width: 30, height: 30, class: 'd-inline-block align-top' %>
      <span class='logo-text'>PotentialGrün</span>
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/faq">FAQ / Anleitung</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<% flash.each do |key, value| %>
  <div class="container <%= key %>" id="flashBox">
    <div class="row">
      <div class="col-sm-12">
        <div class='message'>
          <%= value %>
          <span class='pointer'><%= fa_icon 'times' %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
