%nav.navbar.navbar-inverse.bg-inverse#headerNavbar
  .container
    %a.navbar-brand{href: '/'}
      = image_tag 'logo-gruen.jpg', width: 30, height: 30, class: 'd-inline-block align-top logo-img'
      %span.logo-text
        PotentialGrün
